body > div > header {
  background: var(--accent-bg);
  width: 100vw; 
  margin-top: -1rem; 
  padding-top: 10px;
  /* margin-left: calc((100vw - 100%) / -2.0) */
  margin-left: calc((100vw - 100%) /-2.0);
  /*margin-right: 1vw;*/
  /* margin-left: -100px; */
  border-bottom: 1px solid var(--border);
  /* border-bottom: 1px solid; */
  /* text-align: center; */
  /* padding: 1rem 0.5rem 2rem 0.5rem;  */
  /* padding-top: 1rem; */
  /* grid-column: 1 / -1;  */
  box-sizing: border-box;
}

body > div > header h1 {
  /*max-width: 1200px; */
  /* margin: 1rem auto; */
  /* margin-top: 100px; */
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

body > div > header p {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.topbar-menu-container {
    text-align: center;
    padding-bottom: 1rem;
}


.status {
  margin-top: 1rem;
  /* padding: 2rem 1rem 1.5rem 1rem; */
  color: var(--text-light);
  font-size: 0.9rem;
  border-top: 1px solid var(--border);
}

.status p {
    margin-bottom: 0;
    margin-top: 0;
}

